.env
serviceAccountKey.json
firebase-key.json
getToken.js
node_modules/
dist/
logs/
*.log
.DS_Store
.vscode/
.idea/
npm/
yarn-error.log
coverage/
.cache/
*.local
.env.test
.env.production
.env.development
*.sqlite
*.sqlite3
*.iml
*.swp
*.swo
